name: All Builds (Linux, macOS, Windows, Android, IPA, APK, AAB)

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main
  workflow_dispatch:

env:
  BUILD_NUMBER: 1
  BUILD_VERSION: 1.0.0
  PYTHON_VERSION: 3.12.2
  FLUTTER_VERSION: 3.38.6  # متوافق مع Flet CLI

jobs:
  setup-python-flet:
    runs-on: ubuntu-latest
    outputs:
      flet-path: ${{ steps.set-flet-path.outputs.flet_path }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade flet kivy
      - name: Set Flet Path Output
        id: set-flet-path
        run: echo "flet_path=$(python -m site --user-base)/bin/flet" >> $GITHUB_OUTPUT

  build-linux:
    runs-on: ubuntu-latest
    needs: setup-python-flet
    steps:
      - uses: actions/checkout@v4
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
      - name: Patch Linux Build
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev
      - name: Flet Build Linux
        run: |
          ${{ needs.setup-python-flet.outputs.flet-path }} build linux --verbose --yes --build-number=${{ env.BUILD_NUMBER }} --build-version=${{ env.BUILD_VERSION }}
      - name: Upload Linux Artifact
        uses: actions/upload-artifact@v4.3.4
        with:
          name: linux-build-artifact
          path: build/linux
          if-no-files-found: warn
          overwrite: false

  build-macos:
    runs-on: macos-latest
    needs: setup-python-flet
    steps:
      - uses: actions/checkout@v4
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
      - name: Flet Build macOS
        run: |
          ${{ needs.setup-python-flet.outputs.flet-path }} build macos --verbose --yes --build-number=${{ env.BUILD_NUMBER }} --build-version=${{ env.BUILD_VERSION }}
      - name: Upload macOS Artifact
        uses: actions/upload-artifact@v4.3.4
        with:
          name: macos-build-artifact
          path: build/macos
          if-no-files-found: warn
          overwrite: false

  build-windows:
    runs-on: windows-latest
    needs: setup-python-flet
    steps:
      - uses: actions/checkout@v4
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
      - name: Flet Build Windows
        run: |
          ${{ needs.setup-python-flet.outputs.flet-path }} build windows --verbose --yes --no-rich-output --build-number=${{ env.BUILD_NUMBER }} --build-version=${{ env.BUILD_VERSION }}
      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v4.3.4
        with:
          name: windows-build-artifact
          path: build/windows
          if-no-files-found: warn
          overwrite: false

  build-apk:
    runs-on: ubuntu-latest
    needs: setup-python-flet
    steps:
      - uses: actions/checkout@v4
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
      - name: Setup Java JDK
        uses: actions/setup-java@v4.2.1
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Flet Build APK
        run: |
          ${{ needs.setup-python-flet.outputs.flet-path }} build apk --verbose --yes --build-number=${{ env.BUILD_NUMBER }} --build-version=${{ env.BUILD_VERSION }}
      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4.3.4
        with:
          name: apk-build-artifact
          path: build/apk
          if-no-files-found: warn
          overwrite: false

  build-aab:
    runs-on: macos-latest
    needs: setup-python-flet
    steps:
      - uses: actions/checkout@v4
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
      - name: Flet Build AAB
        run: |
          ${{ needs.setup-python-flet.outputs.flet-path }} build aab --verbose --yes --build-number=${{ env.BUILD_NUMBER }} --build-version=${{ env.BUILD_VERSION }}
      - name: Upload AAB Artifact
        uses: actions/upload-artifact@v4.3.4
        with:
          name: aab-build-artifact
          path: build/aab
          if-no-files-found: warn
          overwrite: false

  build-ipa:
    runs-on: macos-latest
    needs: setup-python-flet
    steps:
      - uses: actions/checkout@v4
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
      - name: Flet Build IPA
        run: |
          ${{ needs.setup-python-flet.outputs.flet-path }} build ipa --verbose --yes --build-number=${{ env.BUILD_NUMBER }} --build-version=${{ env.BUILD_VERSION }}
      - name: Upload IPA Artifact
        uses: actions/upload-artifact@v4.3.4
        with:
          name: ipa-build-artifact
          path: build/ipa
          if-no-files-found: warn
          overwrite: false
