name: Android Builds (APK & AAB)

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main
  workflow_dispatch:

env:
  BUILD_NUMBER: 1
  BUILD_VERSION: 1.0.0
  PYTHON_VERSION: 3.12.2
  FLUTTER_VERSION: 3.38.6  # متوافق مع Flet CLI
  FLET_CLI_VERSION: latest

jobs:
  setup-python-flet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Upgrade pip and install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install kivy flet==${{ env.FLET_CLI_VERSION }}

  build-apk:
    runs-on: ubuntu-latest
    needs: setup-python-flet
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - name: Setup Java JDK
        uses: actions/setup-java@v4.2.1
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Flet Build APK
        run: |
          python -m flet build apk --verbose --yes --build-number=${{ env.BUILD_NUMBER }} --build-version=${{ env.BUILD_VERSION }}

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4.3.4
        with:
          name: apk-build-artifact
          path: build/apk
          if-no-files-found: warn
          overwrite: false

  build-aab:
    runs-on: ubuntu-latest
    needs: setup-python-flet
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - name: Setup Java JDK
        uses: actions/setup-java@v4.2.1
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Flet Build AAB
        run: |
          python -m flet build aab --verbose --yes --build-number=${{ env.BUILD_NUMBER }} --build-version=${{ env.BUILD_VERSION }}

      - name: Upload AAB Artifact
        uses: actions/upload-artifact@v4.3.4
        with:
          name: aab-build-artifact
          path: build/aab
          if-no-files-found: warn
          overwrite: false
